<div class="row text-danger fw-bolder fs-5">
    <div class="col-2 p-3 offset-2">
        <label>
            {{ 'current_promotion_label'|trans }}
        </label>
    </div>

    <div class="col-7 p-3">
        <label>
            {{ promotion.label }}
        </label>
    </div>
</div>
